<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Css/Index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Css/scroll_bar.css') }}">
    <script src="{{ url_for('static', filename='js/show_content.js') }}"></script>
    <title>Home E-Agricultor</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button type="button" class="btn btn-nav btn-outline-primary"><a class="navbar-brand" href="#">E-Agricultor</a></button>
        <button onclick="show_nav()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="Index.html"><b>Home</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Entrar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sobre</a>
            </li>
          </ul>
        </div>
    </nav>

    <!-- Containers Body -->
    <div class="container">
      <div class="row">
        <div class="contain-main col-sm">
          <img src="{{ url_for('static', filename='/img/face_hand.png') }}" alt="" srcset="" style="width: 55% !important; ">
          <h4>Plantio na palma da sua mão!</h4>
          <hr>
          Uma plataforma onde você pode acompanhar o desenvolvimento do seus cultivo para tomar suas melhores decisões.
        </div>
        <div class="contain-main col-sm">
          <img src="{{ url_for('static', filename='/img/tech.png') }}" alt="" srcset="" width="48%">
          <h4>Tecnologia a seu favor!</h4>
          <hr>
          Nosso portal se disponibiliza de monitoriamento em tempo real dos dados físicos do ambiente de plantio.
          Medição da temperatura do solo e do ar relativo, sensioriamento da umidade do solo para proceguir com a irrigação.
          Controle de automatização de valvúlas para irrigação.
          <br>
        </div>
        <div class="contain-main col-sm">
          <img  src="{{ url_for('static', filename='/img/globo_contact.png') }}" width="50%">
          <h5>Entre em contato com a nossa equipe e embarque nessa também!</h5>
          <hr>
          Conheça nossa equipe e entenda nossos propósitos!!! <br><br>
          <button type="button" class="btn btn-warning">Sobre</button>
        </div>
      </div>
    </div>


    <!-- Footer -->
    <footer class="page-footer font-small blue">
        <div class="footer-copyright text-center py-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24 "><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
            © 2022 Copyright:
          <a target="_blank" href="https://github.com/Gabriel4Arnecke/E-Agricultor"> E-Agricultor PI Univesp</a>
        </div>

    </footer>
    
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

</body>
</html>