.page-footer{
    background-color: #212529;
    color: #ffffff;
    position: fixed ;
    bottom: 0;
    width: 100%;
    text-align: center  !important;
}
.main_content{
  top: 0;
  background-color: #adc0ff70;
  padding: 2% 0 0 0;
}
.adjust-arrow{
  position: absolute;
  margin: 0 0 0 80%;
  top: 0;
}
.adjust-arrow:hover{
  cursor: pointer;
  color: #2f4f4f;
}
.api_content{
  border-radius: 31px;
  margin-bottom: 3%;
}
.container{
  padding-bottom: 15%;
}
canvas{
  border-radius: 31px;
  background-color: #212529;
}

#teste {
  display: flex;
  align-items: center;
  justify-content: center;
}