body{
    background-color: darkslategray !important;
}

.page-footer{
  background-color: #212529;
  color: #ffffff;
  position: fixed ;
  bottom: 0;
  width: 100%;
  text-align: center  !important;
}

.navbar{
  padding-left: 2%;
}

.btn-nav{
  padding-left: 2%;
  color: darkslategray !important;
  border-color: darkslategray;
}
.btn-nav:hover{
  background-color: darkslategray !important;
  border-color: darkslategray;
}

.contain-main{
  background-color: #00000044;
  color: #fff;
  border-radius: 20px;
  text-align: center;
  margin: 5% 0 0 3%;
}

.contain-main{
  box-shadow: 5px 5px 5px black;;
}

