@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main_login {
    width: 100vw;
    height: 100vh;
    background: #228B22;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left_login>h1 {
    font-size: 3vw;
    color: #77ffc0;
}

.right_login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #006400;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card_login>h1 {
    color: #00ff88;
    font-weight: 600;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield>input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #6B8E23;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield>label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield>input::placeholder {
    color: #f0ffff94;
}

.btn_login {
    width: 100%;
    padding: 16px 0px;
    border: none;
    border-radius: 9px;
    outline: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

@media only screen and (max-widht:950px) {
    .card_login {
        width: 85%;
    }
}

@media only screen and (max-widht:600px) {
    .main_login {
        flex-direction: column;
    }

    .left_login {
        display: none;
    }

    .left_login {
        width: 100%;
        height: auto;
    }

    .right_login {
        width: 100%;
        height: auto;
    }

    .left_login-imagem {
        width: 50vw;
    }

    .card_login {
        width: 90%;
    }
}