body {
    margin: 0;
}

.main_login{
    width: 100vw;
    height: 100vh;
    background: darkslategray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
    
    }

.left_login > h1{
    color: #ec6f08
}

.right_login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
    }

.card_login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #708090;
    border-radius: 17px;
    box-shadow: 0px 10px 40px #00000056;    
}

.card_login > h1{
    color: #ee7715;
    font-weight: 700;
    margin: 0;
}

.textfield{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 7px;
    padding: 12px;
    background: #708090;
    color: bisque;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box; 
}

.textfield > label{
    color:  bisque;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color:aquamarine
}

.btn_login{
    width: 50%;
    padding: 16px 0px;
    margin: 25 px;
    border: none;
    border-radius: 9px;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    color:rgb(18, 129, 129);
    cursor: pointer;
    box-shadow: 0px 12px 42px --12px;
    color:#036f49

}